@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Rede Social de Horta!!</h1>
    <p>Você possui uma horta indoor, em sua casa ou no seu apartamento? Está no lugar certo!!</p>
</div>
<div class="text-justify">
    <ul>
        Nesta rede social, você poderá conhecer pessoas que também aderiram a essa cultura extremamente saudável 
    e gratificante! E se você ainda não possuir sua horta, então seja bem-vindo também! Crie seu perfil e descubra tudo que precisa 
    fazer para ter a sua própria
    </ul>
    <ul>
        Você pode ver o perfil dos usuários e ver os posts da Rede de Horta na Linha do Tempo, sempre ordenado do
        mais recente ao mais antigo. Entretanto, você só poderá postar conteúdo se criar sua conta e o seu perfil.
    </ul>
    <ul>
        Recomendamos um excelente vídeo tutorial, produzido pelo youtuber identificado como 'Cobasi O shopping do seu animal'. 
        Assista abaixo e começe hoje mesmo sua horta indoor! Claro, não se esqueça de se inscrever nesse serviço!!
    </ul>
</div>
<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hevTtqIFVC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
