@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Este serviço respeita sua privacidade, portanto, apenas os dados informados na criação do perfil
    (e não da criação do seu login) são publicados, além do conteúdo que você postar, onde estará indicado
    a sua autoria e a data de criação. Caso deseja remover sua conta, basta clicar no link do menu superior,
    onde está escrito seu e-mail, para ir em Dados Pessoas - Apagar. Desta forma, todos os seus dados pessoais,
    perfil e respectivos posts serão irreversívelmente apagados da rede social.
    
    Caso utilize o chat deste site (chatango), então você estará concordando com o Termo de Privacidade da chatango,
    que pode ser acessado abaixo. Veja também a Lei Geral de Proteção dos Dados, que está em vigor no Brasil, e que este serviço preza em cumprir.


</p>
<br/>
<a href='http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm'>Acesse aqui a Lei Geral de Proteção de Dados Pessoais.</a>
<a href="https://www.chatango.com/page?full_privacy">Acesse aqui o Termo de Privacidade da Chatango</a>
